body {
    font-family: 'Roboto', sans-serif;;         font-style: normal;
}
.conteiner1 {
    width: 1600px;
   margin: o auto;
}
h2,
p,
ul {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.header1{
    width: 1600px;
}
.header-conteiner1 {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left1 {
    display: flex; 
    width: 520px;    
    justify-content: space-between;
}
.header-right1 {
    width: 307px;
    display: flex;
    justify-content: space-between;
    
     }
.logo-link1 {

    font-family: 'Relaway', sans-serif;; 
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #212121;
    text-decoration:none ;
}

.Web1 {
    color: #2196F3;
    padding-top: 24px;
}
.nav-list1 {
    display: flex;
    justify-content: space-between;
    width: 281px;
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    align-items: center;
}

.nav-list1 a {
    text-decoration: none;
    color: #212121;
}
.nav-list1 a:hover {
    color: #2196F3; 
}
.contact-list1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em; 
    list-style-type: none;
}
.mail1 {
color: #757575;
}
.tel1 {
color: #757575;   
}
.mail1:hover {
color: #2196F3;
}
.tel1:hover {
color: #2196F3;
}
.contact-list1 a {
color: #757575;
text-decoration: none;
}
.contact-list1 a:hover {
color: #2196F3;
}