.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;}
    body {
        font-family: 'Roboto', sans-serif;;         font-style: normal;
    }
    .conteiner {
        width: 1600px;
       margin: o auto;
    }
    h2,
    p,
    ul {
        margin: 0;
        padding: 0;
    }
    a {
        text-decoration: none;
    }
    ul {
        list-style: none;
    }
    .header{
        width: 1600px;
    }
    .header-conteiner {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-left {
        display: flex; 
        width: 520px;    
        justify-content: space-between;
    }
    .header-right {
        width: 307px;
        display: flex;
        justify-content: space-between;
        
         }
    .logo-link {
    
        font-family: 'Relaway', sans-serif;; 
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #212121;
        text-decoration:none ;
    }
   
    .Web {
        color: #2196F3;
        padding-top: 24px;
    }
    .nav-list {
        display: flex;
        justify-content: space-between;
        width: 281px;
        list-style: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #212121;
        align-items: center;
    }
  
    .nav-list a {
        text-decoration: none;
        color: #212121;
    }
    .nav-list a:hover {
        color: #2196F3; 
    }
    .contact-list {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em; 
        list-style-type: none;
    }
   .mail {
    color: #757575;
   }
   .tel {
    color: #757575;   
   }
   .mail:hover {
    color: #2196F3;
   }
   .tel:hover {
    color: #2196F3;
   }
   .contact-list a {
    color: #757575;
    text-decoration: none;
   }
   .contact-list a:hover {
    color: #2196F3;
   }
    .hero {
        background-color: #2F303A;
        padding: 200px 0;
    }
    .hero-title {
        font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align:Center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
align-items: center;
margin-bottom: 30px;
    }
    .hero-btn {
        margin: 0 auto;
        display: block;
        width: 216px;
        height: 50px;
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15 ); /*тінь за кнопкою*/
        border-radius:4px ;/*рамка*/
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }
    .features {
        width: 1200px;
        margin: 0 auto;
        
    }
    .features-list {
        list-style: none;
        display: flex;
        justify-content: center;
    }
    .features-subtitle {
list-style: none;  
font-weight: 700;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.03em;
color: #212121;
 margin: 94px 30px 0px 0px; 
    }
     .features-paragraf {
        list-style-type: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #757575;
        margin: 30px 0px 0px 0px; ;  
            }
      .electricity-paragraf{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.71px;
        text-align: center;
        margin: 118px 0px 50px;
      }   
      .electricity-list {
        list-style: none;
        display: flex;
        justify-content: center;
      }    
      .electricity-img{
list-style-type: none;        
width: 370px;   
height: 294px;
margin: 0px 30px 94px 0px;
      }
      .perconal {
      background-color: #F5F4FA;
      margin: 94px;
      width: 1600;
      }
      .perconal-title {
      list-style-type: none;
        font-weight: 700;
        font-size: 36px;
        line-height: 42.19px;
        text-align: center;   
        margin: 0px 0px 50px;
      }
      .perconal-cards {
        margin: 0px 30px;
        background-color: #FFFFFF;  
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12 ), 0px 1px 1px rgba(0, 0, 0, 0.14 );
        border-radius: 0px 0px 4px 4px;
      }
      .perconal-list {
        list-style: none;
        display: flex;
        justify-content: center; 
      }
      .perconal-foto {     
width: 270px;   
height: 260px;
      }
      .perconal-name{
        list-style-type: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 18.75px;
            letter-spacing: 0.03em;
            text-align: center;
            margin: 30px 0px 10px;
      } 
      .perconal-name a {
      color: #212121;  
      }  
      .perconal-work{
        list-style-type: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 18.75px;
            letter-spacing: 0.03em;
            text-align: center;
            
      }   
      .perconal-work a {
        color: #757575;
      }
      .logo-link1 {
    
        font-family: 'Relaway', sans-serif;; 
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        text-decoration:none ;
    }
   
    .Web1 {
        color: #2196F3;
        padding-top: 24px;
    }
    .contact-list1 {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em; 
        list-style-type: none;  
    }
    .contact-list1 a {
        text-decoration: none;
        color: #757575 
       ;
    }
    .contact-list1 a:hover {
        color: #2196F3; 
    }
    .address {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em; 
        list-style-type: none; 
        color: #FFFFFF;      
    }
    .hero1 {
        background-color: #2F303A;
        padding: 84px 0;
    }
    .footer-conteiner {
        width: 1200px;
        margin: 0 auto;
       
        
    }
  
      
